* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: cursive;
  min-height: 100vh;
  background-color: #212121;
}

nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  text-align: center;
  padding: 10px 5%;
}

.logo {
  font-size: 4rem;
  color: white;
  cursor: pointer;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  display: flex;
  align-items: center;
  padding: 1rem;
  margin-right: 1rem;
  border-radius: 0.5rem;
  transition: all ease 0.3s;
}

.nav-links a:hover {
  color: #212121;
  background-color: #fff;
}

main {
  min-height: calc(100vh - 75px);
  background-image: url(background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main h1 {
  text-align: center;
  font-size: 5rem;
  line-height: 5rem;
  margin-bottom: 3rem;
  color: white;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 380px;
}

.buttons button {
  border: none;
  outline: none;
  width: 160px;
  height: 45px;
  border-radius: 5px;
  cursor: pointer;
  transition: all ease 0.3s;
  font-size: 1.5rem;
  font-weight: 600;
  border: 1px solid white;
}

.buttons .learn-btn {
  background-color: transparent;
  color: white;
}

.buttons .subscribe-btn {
  background-color: #fff;
  color: #212121;
}


.learn-btn:hover {
  background-color: #fff;
  color: #212121;
}

.subscribe-btn:hover {
  background-color: transparent;
  color: white;
}